.container {
  display: flex;
  justify-content: flex-end; /* Align content to the right */
  padding: 10px; /* Add padding for spacing */
  width: 100%; /* Full width */
  background-color: rgb(255, 253, 253);
  height: 5%;
  border: 1px solid #ccc; 
}

.dashboard {
  color: rgb(37, 146, 197); /* Text color */
  margin: 0 auto; 
  margin-left: 0 ;/* Center the text horizontally */
}

/* Responsive layout */
@media screen and (max-width: 768px) {
  .container {
    justify-content: center; /* Align content to the center on smaller screens */
  }
}
