.container {
    display: flex;
    justify-content: flex-end; /* Align content to the right */
    padding: 10px; /* Add padding for spacing */
    /* border: 2px solid rgb(2, 2, 2); White border */
    width: 183vh; /* Take 70% space from the right */
    margin-left: 20%; /* Leave 20% space on the left */
    background-color:rgb(255, 253, 253);
    height: 5%;
    border: 1px solid #ccc; 
  }
  .maindiv{
    height: 100vh;
  }
  
  .dashboard {
    color: rgb(37, 146, 197); /* Text color */
    margin: 0 auto; 
    margin-left: 0 ;/* Center the text horizontally */
  }
  @media screen and (max-width: 768px) {
    .container {
      justify-content: center; /* Align content to the center on smaller screens */
    }}