<div class="menu-container">
    <div>
      <div class="products">
        <mat-card *ngFor="let product of paginatedProducts" class="product-card"
                  (click)="selectProduct(product)" [class.selected]="product.selected">
          <img mat-card-image [src]="product.image" alt="{{product.item_name}}" class="image">
          <mat-card-content>
            <div class="product-details">
              <h2>{{product.item_name}}</h2>
              <div class="quantity-controls">
                <button mat-icon-button color="accent" (click)="decreaseQuantity(product); $event.stopPropagation();">
                  <mat-icon>remove</mat-icon>
                </button>
                <span>{{product.item_quantity}}</span>
                <button mat-icon-button color="accent" (click)="increaseQuantity(product); $event.stopPropagation();">
                  <mat-icon>add</mat-icon>
                </button>
              </div>
            </div>
            <p>{{product.price | currency}}</p>
            <app-start-rating [rating]="product.rating || 0"></app-start-rating>
          </mat-card-content>
        </mat-card>
      </div>
      <button mat-raised-button color="primary" class="done-button" (click)="onSubmit()">DONE</button>
      <mat-paginator [length]="filteredProducts.length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
                     (page)="onPageChange($event)">
      </mat-paginator>
    </div>

    <mat-card class="search-card">
      <mat-form-field appearance="outline">
        <mat-label>Search Products</mat-label>
        <input matInput placeholder="Search..." [(ngModel)]="searchTerm" (input)="filterProducts()">
        <button mat-icon-button matSuffix>
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>

      <mat-divider></mat-divider>

      <div class="categories">
        <h3>Categories</h3>
        <mat-list>
          <mat-list-item  *ngFor="let category of categories"  (click)="categories_s(category)">{{category}}</mat-list-item>
        </mat-list>
      </div>

      <mat-divider></mat-divider>

      <div class="price-filter">
        <h3>Filter by Price</h3>
        <mat-slider min="1" max="5" step="0.5">
          <input matSliderThumb value="1.5">
        </mat-slider>
      </div>
    </mat-card>
  </div>
