<div class="menu-container">
  <div>
      <div class="products">
              <mat-card *ngFor="let product of products" class="product-card">
                  <img mat-card-image [src]="product.image" alt="{{product.name}}" class="image">
                  <mat-card-content>
                      <h2>{{product.name}}</h2>
                      <p>{{product.price | currency}}</p>
                      <app-start-rating [rating]="product.rating || 0"></app-start-rating>
                  </mat-card-content>
              </mat-card>
          </div>
          <button mat-raised-button color="primary" class="done-button">DONE</button>
  </div>

  <mat-card class="search-card">
      <mat-form-field appearance="outline">
          <mat-label>Search Products</mat-label>
          <input matInput placeholder="Search...">
          <button mat-icon-button matSuffix>
              <mat-icon>search</mat-icon>
          </button>
      </mat-form-field>

      <mat-divider></mat-divider>

      <div class="categories">
          <h3>Categories</h3>
          <mat-list>
              <mat-list-item *ngFor="let category of categories">{{category}}</mat-list-item>
          </mat-list>
      </div>

      <mat-divider></mat-divider>

      <div class="price-filter">
          <h3>Filter by Price</h3>
          <mat-slider min="1" max="5" step="0.5">
              <input matSliderThumb value="1.5">
          </mat-slider>
      </div>
  </mat-card>


</div>
