.menu-container {
  display: flex;
  padding: 20px;
  overflow-x: auto;
}

.search-card {
  width: 300px;
  margin-right: 20px;
  padding: 1rem;
}

.products {
  display: ruby;
  flex-wrap: wrap;
  gap: 20px;
  flex-grow: 1;
}

.product-card {
  cursor: pointer;
  margin: 10px;
  width: 30%;
}

.done-button{
  float: right;
  margin: 2rem;
}



.product-card.selected {
  border: 2px solid green;
  box-shadow: 0 0 10px green;
}

