<!-- your-table.component.html -->
<div class="table-container">
  <table mat-table [dataSource]="orders" class="mat-elevation-z8">
    <ng-container matColumnDef="order">
      <th mat-header-cell *matHeaderCellDef> Order </th>
      <td mat-cell *matCellDef="let order">
        <div class="order-details">
          <div>{{ order.order }}</div>
          <button mat-button class="dine-btn">Dine-in</button>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="cards">
      <th mat-header-cell *matHeaderCellDef> Cards </th>
      <td mat-cell *matCellDef="let order">
        <div class="cards-container">
          <mat-card class="card" *ngFor="let card of order.cards"  >
            <img mat-card-image [src]="card.image" alt="{{ card.item_name }}">
            <mat-card-header>
              <mat-card-title class="card-title">{{ card.item_name }}</mat-card-title>
            </mat-card-header>
            <div class="button-container"  *ngIf="role === 'waiter' && card.order_status === 'Pending'">
              <button mat-button class="pending-button">Pending</button>
              <button mat-button class="cancel-button" (click)="Cancel(card.order_id)">Cancel</button>
            </div>

            <div class="button-container"  *ngIf="role === 'waiter' && card.order_status === 'AcceptOrder'">
              <button mat-button class="pending-button">IN Process</button>
             
            </div>

            <div class="button-container"  *ngIf="role === 'waiter' && card.order_status === 'Waiting'">
              <button mat-button class="pending-button" (click)="pick(card.order_id)">Your Order please come to pick</button>
             
            </div>

            <div class="button-container"  *ngIf="role === 'waiter' && card.order_status === 'Done'">
              <button mat-button class="pending-button" (click)="served(card.order_id)">Served</button>
             
            </div>

            <div class="button-container"  *ngIf="role === 'waiter' && card.order_status === 'Cancle'">
              <button mat-button class="pending-button" (click)="Cancel(card.order_id)">Your order has been Cancle</button>
             
            </div>



            <div class="button-container"  *ngIf="role === 'kitchen' && card.order_status === 'Pending'">
              <button mat-button class="pending-button"(click)="accept(card.order_id)">Accept Order</button>
              <button mat-button class="pending-button"(click)="cancleFromKitchen(card.order_id)">Cancle order</button>
              
            </div>
            <div class="button-container"  *ngIf="role === 'kitchen' && card.order_status === 'AcceptOrder'">
              <button mat-button class="pending-button"(click)="complete(card.order_id)">Complete</button>
              
            </div>

            <div class="button-container"  *ngIf="role === 'kitchen' && card.order_status === 'Waiting'">
              <button mat-button class="pending-button"(click)="complete(card.order_id)">Waiting waiter</button>
              
            </div>

            <div class="button-container"  *ngIf="role === 'kitchen' && card.order_status === 'Cancle'">
              <button mat-button class="pending-button"(click)="complete(card.order_id)">Waiting for waiter to cancle</button>
              
            </div>

          </mat-card>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
