/* table-cards.component.css */
.table-cards-container {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
  }
  
  .table-card {
    flex: 1;
    min-width: 50%s;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  