.mat-mdc-radio-button ~ .mat-mdc-radio-button {
    margin-left: 16px;
  }
  .wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .payment-method-item{
    display: flex;
  }
  .payment-method-item.div{
    margin-right: 10px;
  }
  .new-card{
    margin-right: 10px;
    padding: 12px
  }
  .btn{
    margin-top: 12px;
  }
  .card-wrapper{
    margin: 10px;
    padding: 20px;
  }