<div class="flex-card">
  <mat-card class="custom-card">
    <mat-card-content>
      <h4 class="card-title">Total Sales</h4>
      <h1 class="card-value">{{totalSales}} Sales</h1>
      <p class="card-date"></p>
    </mat-card-content>
  </mat-card>
  <mat-card class="custom-card">
    <mat-card-content>
      <h4 class="card-title">Total Users</h4>
      <h1 class="card-value">{{totalUser}} Users</h1>
      <p class="card-date"></p>
    </mat-card-content>
  </mat-card>
  <mat-card class="custom-card">
    <mat-card-content>
      <h4 class="card-title">Total Products</h4>
      <h1 class="card-value">{{totalmenu}} Products</h1>
      <p class="card-date"></p>
    </mat-card-content>
  </mat-card>
  <mat-card class="custom-card">
    <mat-card-content>
      <h4 class="card-title">Total Tables</h4>
      <h1 class="card-value">{{totaltable}} Table </h1>
      <p class="card-date"></p>
    </mat-card-content>
  </mat-card>
</div>
