
<app-header [title]="pageTitle"> </app-header>

<body>

    <div class="row-container">
        <div class="row-item">Item 1</div>
        <div class="row-item">Item 2</div>
        <div class="row-item">Item 3</div>
        <div class="row-item">Item 3</div>
    </div>
     
   
    

   <!-- <div class="maindiv">
    
    <div class="middle"></div>

    <div class="right">
        

    </div>
    
   </div> -->



   <div class="main-container">
    <div class="left-container">
      <div class="top">
        <!-- Content of the top container -->
        Top Container
      </div>
      <div class="bottom">
        <!-- Content of the bottom container -->
        Bottom Container
      </div>
    </div>
    <div class="right">
      <!-- Content of the right container -->
      Right Container
    </div>
  </div>

   

     

    
    
</body>
