/* styles.css */
.mat-drawer-container{
  height: 100vh !important;
}
/* Custom styles for navbar and header */
.mat-toolbar.mat-primary,
.mat-drawer {
    background-color: white;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    }

.mat-sidenav {
    background-color: white !important;
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;

}

.mat-nav-list a.mat-list-item.active,
.mdc-list-item__primary-text {
    color: #000 !important;
}

.mat-icon-rtl-dashboard{
  height: 1rem o !important;
}

.mat-toolbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mat-icon {
  font-size: 20px;
  height: 1.2rem;
}
.container{
  padding: 0.5rem;
  margin-top: 1rem;
}

.flex-card{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex-card .mat-mdc-card.mdc-card{
  margin: 0 1rem;
  width: 22%;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}