.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.active-link {
  background-color: #1976d2; /* Example background color */
  color: rgb(195, 10, 10); /* Example text color */
}

.mat-toolbar.mat-primary {
  --mat-toolbar-container-background-color: #673ab7;
  --mat-toolbar-container-text-color: white;

max-width: 100%; /* Ensure it stretches to fit the viewport */
margin-bottom: 60px; /* Adjust margin to leave space for fixed pagination */
}
